{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Foodie - О нас
      </div>

      <div class="card-body">
        <p>
          "Foodie" - это уютное место для гурманов, где вы можете отдохнуть от городского шума и насладиться вкусной едой и ароматным кофе. Наше кафе предлагает атмосферу творчества и вдохновения, идеальную для писателей, художников и всех тех, кто ценит культуру и искусство.
        </p>
        <ul>
          <li>Уникальный дизайн: Интерьер наполнен творческими работами местных художников</li>
          <li>Гастрономическое восхождение: Наши блюда приготовлены с любовью о вас</li>
          <li>Выбор специй: От черного чая до латте на кокосовом молоке</li>
          <li>Зона для работы: Комфортная обстановка и бесплатный Wi-Fi</li>
          <li>Вечерние концерты: Живые выступления музыкантов добавляют уюта вашему пребыванию у нас</li>
        </ul>
        <p>Мы открыты для:</p>
        <ul>
          <li>Ценителей искусства</li>
          <li>Писателей</li>
          <li>Художников</li>
          <li>Тех, кто ищет уютный уголок в сердце города</li>
        </ul>
        <p>Приходите отдыхать от городского шума, наслаждаться вкусом и ароматом, вдохновляйтесь творчеством.</p>
        <p>Присоединяйтесь к нам!</p>
        <p>Наши кафе:</p>
        <ul>
          <li>Москва, ул. Садовая, д.3</li>
          <li>Москва, Большой Черкасский переулок, 3</li>
          <li>Москва, ул. Садовая, д.47</li>
        </ul>
      </div>
      
      <p></p>
      <img src="/static/img/open.png" alt="Мы открылись">
    </div>
  </div>
{% endblock %}