{% extends "base.html" %}
{% block title %}
  Правила
{% endblock %}
{% block content %}

  <div class="d-flex flex-column align-items-center">
    
    <div class="card mb-5" style="width: 40rem;">
      <div class="card-header">
        Правила посещения
      </div>
      <div class="card-body">
        <ol>
          <li>Принимается оплата картами и наличными. О том, принимается ли карта конкретного банка просьба уточнять заранее.</li>
          <li>Стоимость услуг доставки рассчитывается отдельно и зависит от места Вашего проживания.</li>
          <li>Место курения находится вне помещения кафе. Уважайте остальных посетителей. Мы придерживаемся политики здорового образа жизни.</li>
          <li>Запрещено употребление алкоголя на территории кафе. Мы придерживаемся политики здорового образа жизни.</li>
          <li>Запрещена фото и видеосъемка без разрешения администрации.</li>
          <li>В случае повреждения имущества клиентом, он обязан возместить ущерб.</li>
          <li>Можно с животными, но только если они воспитаны и не создают проблем.</li>
        </ol>
      </div>
    <img src="/static/img/food.jpg" alt="Принципы ЗОЖ">
  </div>
  <p></p>

  <div class="card mb-5" style="width: 40rem;">
    <div class="card-header">
      Правила, введенные из-за коронавируса
    </div>
    <div class="card-body" style="display: flex; flex-direction: column;">
    <img src="/static/img/ruleswash.png" alt="Правила гигиены">
    </div>
  </div>
{% endblock %}
<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }
  th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
  }
  th {
      background-color: #f2f2f2;
  }
</style>