{% extends "base.html" %}
{% load spurl %}
{% block title %}
  Лента записей
{% endblock %}
{% block content %}
  <div filter-block>
    <form method="get" class="mb-4 filter-form" id="filter-form">
      
      <h1>Информация</h1>
      <p>Количество постов: {{ post_count }}</p>
      
      <p>Список блюд</p>
    <!--{{ dishes_html }}-->
    <div class="row justify-content-center">
      <table id="d" border="3" cellpadding="5" cellspacing="0">
        {{ dishes_html | safe }}
      </table>
    </div>
    
      <h1>Фильтрация</h1>
      <div>
        <label for="location">Локация:</label>
        
        <select id="location" name="location">
          <option value="">Все</option>
          
          <option value="ул. Садовая, д.3" {% if request.GET.location == "ул. Садовая, д.3" %}selected{% endif %}>Москва, ул. Садовая, д.3</option>
          <option value="Большой Черкасский переулок, 3" {% if request.GET.location == "Большой Черкасский переулок, 3" %}selected{% endif %}>Москва, Большой Черкасский переулок, 3</option>
          <option value="ул. Садовая, д.47" {% if request.GET.location == "ул. Садовая, д.47" %}selected{% endif %}>Москва, ул. Садовая, д.47</option>
        
        </select>
        
      </div>
      <div>
        <label for="author">Имя пользователя:</label>
        <input type="text" id="author" name="author" value="{{ request.GET.author }}">
      </div>
      <button type="submit" id="apply-filter-btn">Применить фильтры</button>
      
      <a href="http://127.0.0.1:8000/?location=&author=">
        <button type="button">Сбросить фильтры</button>
      </a>
    </form>
  </div>
  {% for post in page_obj %}
    <article class="mb-5">
      {% include "includes/post_card.html" %}
    </article>
  {% endfor %}

  {% include "includes/paginator.html" %}
{% endblock %}

<script>
  // Функция для применения фильтров
  document.getElementById('apply-filter-btn').addEventListener('click', function(event) {
    event.preventDefault(); // Предотвращаем стандартную отправку формы
    
    const form = document.getElementById('filter-form');
    const formData = new FormData(form);
    const queryParams = new URLSearchParams(formData).toString();
    
    // Получаем текущую страницу из URL (если есть)
    const currentPage = new URLSearchParams(window.location.search).get('page') || 1;
    
    // Перезагружаем страницу с параметрами фильтрации и текущей страницей
    window.location.href = ?${queryParams}&page=${currentPage};
  });
</script>